/* Customize w3schools23.css */
#nav_tutorials,#nav_references,#nav_exercises {margin-top: 0;}
@media screen and (min-width: 769px) {.w3-bar-block .w3-button {padding: 0 16px !important;}}
.fa {font-size: 20px;}
#main {padding: 0;border-right: none;}
.fa-thumbs-o-up:hover {color: #fff;}
@media (min-width:1675px) {#main {width: auto;}}
#nav_tutorials,#nav_references,#nav_exercises {display: none;padding-bottom: 40px;position: absolute;width: 100%;z-index: 5 !important;}
#nav_tutorials h3,#nav_references h3,#nav_exercises h3,#sectionxs_tutorials h3,#sectionxs_references h3,#sectionxs_exercises h3 {padding-left: 6px;color: #FFF4A3;}
div.cse .gsc-control-cse,div.gsc-control-cse {padding: 0;margin-top: 0;}
/* Customize W3.CSS */
.w3-col.l4 .w3-card-2 {padding: 15px 10px;height: 260px;}
.w3-bar {position: relative;z-index: 4;font-size: 18px;background-color: white;color:#282A35;}
h1,h2,h3,h4,h5,h6 {font-family: 'Source Sans Pro', sans-serif;}
h1 {font-size: 80px;margin: 2px 0 -20px 0 !important;}
.learn h1  {margin: 10px 0 !important;}
.green-border {border-left: 4px solid #04AA6D;}
.w3-round, .w3-round-medium {border-radius: 5px;}
.tryit-button {background-color: #04AA6D;color: white;border-radius: 25px;font-size: 18px;width:200px;}
.tut-button {background-color: #04AA6D;color: white;font-size: 18px;margin: auto;display: block;width: 200px;border-radius: 25px;}
.w3csstut {height: 390px;}
.tut-button:hover,.tryit-button:hover,.exercise-button:hover,#getdiploma a:hover {background-color: #059862 !important;color:white!important;}
.bar-item-hover:hover {background-color: #04AA6D!important;color:white!important;}
.bar-icon-hover:hover,.fa-logo:hover {background-color: white !important;color:#059862!important;}
.mystyle,.mystyle:hover {background-color: #282A35!important;color:white!important;}
.closenav_span:hover {background-color: #282A35!important;color: #059862!important;}
.ref-button {background-color: white;font-size: 18px;margin: auto;display: block;width: 200px;border-radius: 25px;color: #000;}
.ref-button:hover {background-color: #E7E9EB!important;color: black;}
.black-color {background-color: #282A35;color: white;}
.black-color:hover {background-color: #000!important;color: white!important;}
.grey-color {background-color: #E7E9EB;color: black}
.exercise-button {padding: 70px 50px;font-size: 35px;width:87%;opacity:0.97;}
#w3loginbtn {width:130px;background-color:#04AA6D;color:white;border-radius:25px;font-size:18px;line-height:1.5;display:none;}
#loginactioncontainer {margin-left:50px;}
@media screen and (min-width:601px) {#navbtn_menu {display: block;}}
@media screen and (max-width:430px) {#w3loginbtn {width:90px;line-height:2;font-size:14px;}
    #loginactioncontainer {width:70px;margin-left:16px;}}
@media screen and (min-width:861px) {#myAccordion,#navbtn_menu,.hidesm {display: none !important;}}
@media screen and (max-width:430px) {
    #nav_translate_btn,#nav_search_btn,#navbtn_menu {padding:8px 8px;}}
@media screen and (max-width:860px) {.barex, .navex  {display: none !important;}
    #googleSearch, #google_translate_element {top:75px;width:100%!important;right:0!important;padding-top:19px!important;}}
@media screen and (max-width:768px) {h1,.w3-jumbo {font-size: 60px !important;}}
@media screen and (max-width:380px) {div.cse .gsc-control-cse,div.gsc-control-cse {padding: 0;margin-top: -4px;}}
#w3_cert_badge {position: absolute;right: 5%;width: 220px;transform: rotate(10deg);bottom: -15%;}
#w3_cert_arrow {position: absolute;right: 240px;width: 220px;transform: rotate(10deg);bottom: 0;z-index: 1;}
#howto_padding {padding: 48px 24px 100px 24px}
#getdiploma {position: relative;padding: 0 60px 50px 60px;margin-bottom: 85px;background-color: #282A35;color: #FFC0C7;font-family: 'Source Sans Pro', sans-serif;}
#getdiploma p {font-size: 52px;margin-top: 1em;margin-bottom: 1em;font-family: 'Source Sans Pro', sans-serif;}
#getdiploma h2 {font-size: 62px;margin-top: 1em;margin-bottom: 1em;font-family: 'Source Sans Pro', sans-serif;}
#getdiploma a {border-radius: 50px;font-size: 18px;background-color: #04AA6D;padding: 17px 55px}
@media screen and (max-width: 680px) {#w3_cert_badge {width: 150px;right: 2%;}}
@media screen and (max-width: 1155px) {#w3_cert_arrow {display: none;}}
@media screen and (max-width: 992px) {#w3_cert_arrow {display: block;}.w3csstut {height: auto;}}
@media screen and (min-width: 1844px) {#w3_cert_badge {width: 190px;right: 2%;}#w3_cert_arrow {right: 169px;}}
@media screen and (max-width: 800px) {#w3_cert_arrow {display: none;}#getdiploma h2 {font-size: 55px;}}
@media screen and (max-width: 600px) {#w3_cert_badge {top: -35px;right: 10px;width: 100px;}#howto_padding {padding: 2px 24px 90px 24px}}
@media screen and (max-width: 500px) {#getdiploma p {font-size: 40px;}#getdiploma a {width: 100%;}}
.tutbuttons a{text-decoration:none;}
.tutbuttons a div {opacity:0.9;}
.tutbuttons a:hover div {opacity:1;}
.ws-yellow-hover:hover {background-color:#fff080!important;color:black!important;}
#google_translate_element {z-index:7!important;}
@media screen and (max-width: 1152px) {.ribbon-topnav {display: none !important;}}
@media screen and (max-width: 860px) {.ws-hide-860 {display: none !important;}}
@media screen and (max-width: 1080px) {.ws-hide-1080 {display: none !important;}}
@media screen and (max-width: 1200px) {.ws-hide-1200 {display: none !important;}}
@media screen and (max-width: 1200px) {.ws-hide-1200 {display: none !important;}}
.hover-yellow:hover {background-color: #fff080 !important;color: black !important;}
.hover-yellow:hover {background-color:#fff080!important;color:black!important;}
#bgcodeimg {background: #282A35 url("../images/priscilla-du-preez.jpg") no-repeat fixed center;}
.fa-logox:hover {background-color: #282A35!important;color: #059862!important;}
/* The actual timeline (the vertical ruler) */
.timeline {position: relative;margin: 0 auto;}
/* The actual timeline (the vertical ruler) */
.timeline::after {content: '';position: absolute;width: 6px;background-color: white;top: -40px;bottom: -45px;left: 50%;margin-left: -3px;}
/* Container around content */
.container {padding: 10px 40px;position: relative;background-color: inherit;width: 50%; margin-bottom:120px;}
/* The circles on the timeline */
.container::after {content: '';position: absolute;width: 25px;height: 25px;right: -13px;background-color: white;border: 4px solid white;top: 18px;border-radius: 50%;z-index: 1;}
/* Place the container to the left */
.left {left: 0;}
/* Place the container to the right */
.right {left: 50%;position:absolute;}
/* Add arrows to the left container (pointing right) */
.left::before {content: " ";height: 0;position: absolute;top: 22px;width: 0;z-index: 1;right: 30px;border: medium solid white;border-width: 10px 0 10px 10px;border-color: transparent transparent transparent white;}
/* Add arrows to the right container (pointing left) */
.right::before {content: " ";height: 0;position: absolute;top: 22px;width: 0;z-index: 1;left: 30px;border: medium solid white;border-width: 10px 10px 10px 0;border-color: transparent white transparent transparent;}
/* Fix the circle for containers on the right side */
.right::after {left: -12px;}
/* The actual content */
.content {padding: 20px 30px 220px 20px;background-color: white;position: relative;border-radius: 6px;}
.h2content {text-align:center;font-size: 84px;font-weight: 500;padding-top:26px;}
.textdescmob {opacity:0.9;padding:20px 20px 20px 30px;margin: -20px -30px 20px -30px;font-size:40px;font-weight:500}
.jscont h2{text-align:center;font-size: 65px;font-weight: 500;padding-top:26px;}
@media screen and (min-width: 1095px) {.content  {height:215px;}
    .h2content {padding-top:14px;}}
@media screen and (max-width: 1161px) {.jscont  {height:245px;}
    .jscont h2 {padding-top:37px;}}
.textdescmob {border-radius:5px 5px 0 0;}
@media screen and (max-width: 900px) {.ws-hide-900 {display:none;}
    .right .ws-grey,.right .ws-light-pink {background-color:white !important;}
    .textsmallerscreens {font-size:45px!important}}
@media screen and (min-width: 901px) {.descmob {display:none;}}
@media screen and (max-width: 900px) {/* Place the timelime to the left */.timeline::after {left: 28px;}
    /* Full-width containers */
    .container {width: 100%;padding-left: 70px;padding-right: 25px;}
    /* Make sure that all arrows are pointing leftwards */
    .container::before {left: 60px;border: medium solid white;border-width: 10px 10px 10px 0;border-color: transparent white transparent transparent;}
    /* Make sure all circles are at the same spot */
    .left::after, .right::after {left: 15px;}
    /* Make all right containers behave like the left ones */
    .right {left: 0;position:relative;}
    .content,.jscont {height: auto;}}
.mylink{text-decoration:none;}
.mylink .content {opacity:0.9;}
.mylink:hover .content,.textdescmob:hover {opacity:1;}
.vl {border-left: 7px solid white;height: 72px;position: absolute;left: 25%;margin-left: -3px;top: 509px;}