dark_1.body {background-color: #1d2a35!important;color:#ddd!important;}
dark_1.body .w3-white {background-color: #1d2a35!important;color:#ddd!important;}
dark_1.body .ws-black {background-color:rgb(13,23,33)!important;}
dark_1.body #pagetop {background-color:rgb(21,32,43);color:#ddd;}
dark_1.body #nav_tutorials,dark_1.body #nav_references,dark_1.body #nav_exercises,dark_1.body #nav_login {background-color:rgb(13,23,33); color: white;}
dark_1.body .topnav {background-color: #008B8B;}
dark_1.body .top {background-color: #38444d;}
dark_1.body #main {border-right: 1px solid #38444d;}
dark_1.body hr {border-top: 1px solid #38444d;}
dark_1.body .w3-codespan {color:#ff9999;}
dark_1.body .w3-note {background-color: #FFF4A3!important;color:#000;}
dark_1.body .w3-example {background-color: #38444d;}
.darktheme .w3-code {background-color: rgb(21,32,43);}
dark_1.body .w3-info {background-color:rgb(21,32,43);}
dark_1.body #w3-exerciseform {background-color: #38444d;color: #ddd;}
dark_1.body #w3-exerciseform .exercisewindow {background-color: rgb(21,32,43);color: #ddd;}
dark_1.body #w3-exerciseform .exerciseprecontainer {background-color: #38444d;}
dark_1.body #w3-exerciseform .exerciseprecontainer input {background-color:rgb(21,32,43);}
dark_1.body #leftmenuinnerinner::-webkit-scrollbar {width: 12px;}
dark_1.body #leftmenuinnerinner::-webkit-scrollbar-track {background:rgb(21,32,43);}
dark_1.body #leftmenuinnerinner::-webkit-scrollbar-thumb {background: #29353e;}
dark_1.body #leftmenuinnerinner {background-color:rgb(21,32,43);color:#ccc;}
dark_1.body #sidenav a.active_overview:link,dark_1.body #sidenav a.active_overview:visited {background-color: #38444d;color:#ddd;}
dark_1.body .tut_overview {background-color: #38444d;color:#fff;}
dark_1.body .w3-light-grey {background-color: #1d2a35;color:#fff;}
dark_1.body #footer {border-top: 1px solid #38444d;background-color: #1d2a35;padding: 32px;}
dark_1.body .ws-grey {background-color: #38444d!important;color: #ddd!important;}
dark_1.body #getdiploma {background-color: rgb(13,23,33)!important;}
dark_1.body #video_sidesection {background-color:rgb(13,23,33);}
dark_1.body #internalCourses {background-color:rgb(13,23,33);}
dark_1.body .w3-third .bigbtn {border: 1px solid #38444d!important; background-color: #38444d!important;color: #ddd !important;}